In [3]:
import pandas as pd

df=pd.DataFrame({
    'city': ['New York','London','Paris','Tokyo','New York','Paris'],
    'price': [200,120,456,150,100,340]
})

In [4]:
df.head()

       city  price
0  New York    200
1    London    120
2     Paris    456
3     Tokyo    150
4  New York    100

In [6]:
mean_price=df.groupby('city')['price'].mean().to_dict()
mean_price

{'London': 120.0, 'New York': 150.0, 'Paris': 398.0, 'Tokyo': 150.0}

In [9]:
df['city encoded']=df['city'].map(mean_price)
df

       city  price  city encoded
0  New York    200         150.0
1    London    120         120.0
2     Paris    456         398.0
3     Tokyo    150         150.0
4  New York    100         150.0
5     Paris    340         398.0

covariance and coore

In [15]:
import pandas  as pd
import numpy as np
import seaborn as sns
df=sns.load_dataset('healthexp')
df.head()

   Year        Country  Spending_USD  Life_Expectancy
0  1970        Germany       252.311             70.6
1  1970         France       192.143             72.2
2  1970  Great Britain       123.993             71.9
3  1970          Japan       150.437             72.0
4  1970            USA       326.961             70.9

In [18]:
df.cov()

ValueError: could not convert string to float: 'Germany'